html{
  height: 100%;
    margin:0;
    padding: 0;
    background-color: rgb(255, 254, 254);
    

}
.titulo-principal{
    display:flex;
    text-align: center;
    background-image: url(IMAGEN\ TALLERBACKGRUND.jpg)  ;
    width: 100%;
    height: 36vh;
    background-position: center; 
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    justify-content: space-around;
    padding-top: 00px ;
    
    
}

   a.navegacion {
    margin-left: 60px;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 40px;
    z-index: 2; 
    transition:  background-color .5s ease-in-out;

}
a.navegacion:hover{
  background-color: black;
  opacity: 0.7;
}

.contenedor-video {
    min-height: 100vh;
    position: relative; 
    overflow: hidden;
    
  }
  
.contenedor-video {
    top: 0;
    left: 0;
    z-index: 2; 
    padding: 5px;
  }

  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 160px;
    box-shadow: 5px 10px 15px;
  }

  .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    


  }

  .texto-vi{
    font-family: "Bungee", sans-serif;
    font-weight: 250px;
    font-style: normal;
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255) ;
    text-shadow: 12px 12 px 15px;

  }


    

  
.contenedor-servicios{
  position: flex;
    justify-items: center;
    display: inline-block;
    background-color: #4682b4;
    border: 5px solid #87ceeb;
    border-radius: 10px;
    box-shadow: 10px 5px 20px;
    flex-wrap: wrap;
    margin: 30px;
    padding: 15px; 
    transition:  mover 2s ease-in-out;
    
    
}

.contenedor-servicios:hover {
  transition:  transform 0.25s ease-in-out;
    

  transform: translate(0px, 30px);


}




.titulo-servicios{
    display: flex;
    justify-content: center;
    font-family: "Bungee", sans-serif;
     font-weight: 500px;
    font-style: normal;
    text-shadow: 10px 10px 10px;
      
      

}

.informacion{
    display: flex;
    position: relative;
    align-items: end;
    align-content: center ;
    justify-content: space-around;
    z-index: 2;
    background-color: rgb(24, 22, 22);
    padding: 20px;
    opacity: 0.9;
    

}
button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(187, 39, 20);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(197, 17, 11);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  
  button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  button:hover {
    color: #fff;
    border: 1px solid rgb(253, 0, 0);
  }
  
  button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 1, 1);
  }

  input{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 20%;
    display: block;
    width: 15em;
    height: 2em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
    

  }

  input:hover {
    color: #fff;
    border: 3px solid rgb(253, 0, 0);
  }
  
  input:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 1, 1);
  }

  footer{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

  }

  @media  only screen and(min-width: 480px)  {

    body{
      width: 80%;
      height: 80%;
    }
    
  }
   
